**/.git
**/node_modules

# Editor
/.vscode

# Documentation
/docs/cloud

# Build output
/dist
/.webpack

# Test coverage
/coverage

# Github Actions
/.github

# Yarn v2
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
